openapi: 3.0.0
info:
  title: Delícias da Lú API
  version: 1.0.0
  description: API REST para gerenciamento de cardápio, pedidos e configurações da padaria/confeitaria
  contact:
    name: Suporte
    url: https://delicias-da-lu.com.br

servers:
  - url: https://api.delicias-da-lu.com.br/v1
    description: Produção
  - url: http://localhost:3000/v1
    description: Desenvolvimento

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    MenuItem:
      type: object
      required: [id, name, category, price]
      properties:
        id:
          type: string
          example: "frutas-abacaxi-creme"
        name:
          type: string
          example: "Abacaxi com creme"
        category:
          type: string
          example: "🍓 Sabores de Frutas"
        price:
          type: number
          format: float
          example: 65.00
        unit:
          type: string
          example: "kg"
        image:
          type: string
          example: "/images/bolos/frutas-abacaxi-creme.jpg"
        description:
          type: string
          example: "Bolo macio com camadas de abacaxi fresco..."
        active:
          type: boolean
          default: true
        order:
          type: integer
          example: 1

    CakeBuilderComponent:
      type: object
      required: [id, name, type]
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [massa, recheio, cobertura, decoracao]
        price:
          type: number
          format: float
        image:
          type: string
        active:
          type: boolean
          default: true
        order:
          type: integer

    Contact:
      type: object
      properties:
        whatsapp:
          type: object
          properties:
            number:
              type: string
              example: "5585987654321"
            link:
              type: string
              example: "https://wa.me/5585987654321"
        email:
          type: string
          example: "contato@delicias-da-lu.com.br"
        instagram:
          type: string
          example: "delicias_da_lu"
        address:
          type: string
          example: "Rua das Flores, 123 - Centro"
        phone:
          type: string
          example: "(85) 3254-1234"

    Order:
      type: object
      required: [items, customerInfo]
      properties:
        id:
          type: string
          example: "ORD-20240604-001"
        items:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [menu, cakeBuilder]
              menuItemId:
                type: string
              cakeCustomization:
                type: object
              quantity:
                type: integer
              unitPrice:
                type: number
                format: float
              subtotal:
                type: number
                format: float
        customerInfo:
          type: object
          required: [name, phone]
          properties:
            name:
              type: string
            phone:
              type: string
            email:
              type: string
            deliveryDate:
              type: string
              format: date
            notes:
              type: string
        status:
          type: string
          enum: [pending, confirmed, preparing, ready, delivered, cancelled]
          default: "pending"
        totalPrice:
          type: number
          format: float
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AdminUser:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [admin, manager]
        lastLogin:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    SiteConfig:
      type: object
      properties:
        menu:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/MenuItem'
            sectionLabels:
              type: object
            customSections:
              type: array
        cakeBuilder:
          type: object
          properties:
            massas:
              type: array
              items:
                $ref: '#/components/schemas/CakeBuilderComponent'
            recheios:
              type: array
              items:
                $ref: '#/components/schemas/CakeBuilderComponent'
            coberturas:
              type: array
              items:
                $ref: '#/components/schemas/CakeBuilderComponent'
            decoracoes:
              type: array
              items:
                $ref: '#/components/schemas/CakeBuilderComponent'
        contacts:
          $ref: '#/components/schemas/Contact'

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
        timestamp:
          type: string
          format: date-time

paths:
  /health:
    get:
      summary: Verifica saúde da API
      tags: [Health]
      responses:
        200:
          description: API operacional
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"

  /error:
    get:
      summary: Retorna documentação de erro em HTML
      tags: [System]
      parameters:
        - name: filter
          in: query
          required: true
          schema:
            type: string
            enum: [type, instance]
          description: Escolhe se retorna HTML do tipo ou da instância do erro
        - name: identifier
          in: query
          required: true
          schema:
            type: string
          description: Identificador do tipo ou instância do erro
      responses:
        200:
          description: Conteúdo HTML do erro
          content:
            text/html:
              schema:
                type: string
        400:
          description: Parâmetros inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Erro não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      summary: Autentica usuário admin
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        200:
          description: Autenticação bem-sucedida
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/AdminUser'
        401:
          description: Credenciais inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      summary: Renova token JWT
      tags: [Auth]
      security:
        - BearerAuth: []
      responses:
        200:
          description: Token renovado
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        401:
          description: Token inválido ou expirado

  /config/public:
    get:
      summary: Retorna configuração pública (menu, cake builder, contatos)
      tags: [Config]
      responses:
        200:
          description: Configuração recuperada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfig'
        500:
          description: Erro ao recuperar configuração

  /config/admin:
    get:
      summary: Retorna configuração completa (admin only)
      tags: [Config]
      security:
        - BearerAuth: []
      responses:
        200:
          description: Configuração recuperada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfig'
        401:
          description: Não autenticado

    put:
      summary: Atualiza configuração completa (admin only)
      tags: [Config]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteConfig'
      responses:
        200:
          description: Configuração atualizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteConfig'
        400:
          description: Dados inválidos
        401:
          description: Não autenticado

  /menu/items:
    get:
      summary: Lista todos os itens do menu
      tags: [Menu]
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filtrar por categoria
        - name: active
          in: query
          schema:
            type: boolean
          description: Filtrar itens ativos
      responses:
        200:
          description: Lista de itens
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MenuItem'

    post:
      summary: Cria novo item de menu (admin only)
      tags: [Menu]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuItem'
      responses:
        201:
          description: Item criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItem'
        400:
          description: Dados inválidos
        401:
          description: Não autenticado

  /menu/items/{id}:
    get:
      summary: Retorna detalhe de um item do menu
      tags: [Menu]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Item encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItem'
        404:
          description: Item não encontrado

    put:
      summary: Atualiza item de menu (admin only)
      tags: [Menu]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuItem'
      responses:
        200:
          description: Item atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItem'
        400:
          description: Dados inválidos
        401:
          description: Não autenticado
        404:
          description: Item não encontrado

    delete:
      summary: Deleta item de menu (admin only)
      tags: [Menu]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Item deletado com sucesso
        401:
          description: Não autenticado
        404:
          description: Item não encontrado

  /menu/items/{id}/order:
    patch:
      summary: Atualiza ordem de exibição de um item (admin only)
      tags: [Menu]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order]
              properties:
                order:
                  type: integer
      responses:
        200:
          description: Ordem atualizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuItem'
        400:
          description: Dados inválidos

  /cake-builder:
    get:
      summary: Retorna componentes do cake builder (massas, recheios, coberturas, decorações)
      tags: [CakeBuilder]
      responses:
        200:
          description: Componentes recuperados
          content:
            application/json:
              schema:
                type: object
                properties:
                  massas:
                    type: array
                    items:
                      $ref: '#/components/schemas/CakeBuilderComponent'
                  recheios:
                    type: array
                    items:
                      $ref: '#/components/schemas/CakeBuilderComponent'
                  coberturas:
                    type: array
                    items:
                      $ref: '#/components/schemas/CakeBuilderComponent'
                  decoracoes:
                    type: array
                    items:
                      $ref: '#/components/schemas/CakeBuilderComponent'

  /cake-builder/{type}:
    get:
      summary: Lista componentes de um tipo específico
      tags: [CakeBuilder]
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [massas, recheios, coberturas, decoracoes]
      responses:
        200:
          description: Componentes do tipo especificado
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CakeBuilderComponent'

    post:
      summary: Cria novo componente de cake builder (admin only)
      tags: [CakeBuilder]
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [massas, recheios, coberturas, decoracoes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CakeBuilderComponent'
      responses:
        201:
          description: Componente criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CakeBuilderComponent'
        400:
          description: Dados inválidos
        401:
          description: Não autenticado

  /cake-builder/{type}/{id}:
    get:
      summary: Retorna detalhe de um componente
      tags: [CakeBuilder]
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [massas, recheios, coberturas, decoracoes]
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Componente encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CakeBuilderComponent'
        404:
          description: Componente não encontrado

    put:
      summary: Atualiza componente de cake builder (admin only)
      tags: [CakeBuilder]
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [massas, recheios, coberturas, decoracoes]
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CakeBuilderComponent'
      responses:
        200:
          description: Componente atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CakeBuilderComponent'
        400:
          description: Dados inválidos
        401:
          description: Não autenticado

    delete:
      summary: Deleta componente de cake builder (admin only)
      tags: [CakeBuilder]
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [massas, recheios, coberturas, decoracoes]
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Componente deletado com sucesso
        401:
          description: Não autenticado

  /contacts:
    get:
      summary: Retorna informações de contato
      tags: [Contacts]
      responses:
        200:
          description: Contatos recuperados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'

    put:
      summary: Atualiza informações de contato (admin only)
      tags: [Contacts]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        200:
          description: Contatos atualizados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        400:
          description: Dados inválidos
        401:
          description: Não autenticado

  /orders:
    get:
      summary: Lista todos os pedidos (admin only)
      tags: [Orders]
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, preparing, ready, delivered, cancelled]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: Lista de pedidos
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
        401:
          description: Não autenticado

    post:
      summary: Cria novo pedido
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items, customerInfo]
              properties:
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                customerInfo:
                  type: object
                  required: [name, phone]
                  properties:
                    name:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                    deliveryDate:
                      type: string
                      format: date
                    notes:
                      type: string
      responses:
        201:
          description: Pedido criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Dados inválidos

  /orders/{id}:
    get:
      summary: Retorna detalhe de um pedido
      tags: [Orders]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Pedido encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        404:
          description: Pedido não encontrado

    put:
      summary: Atualiza status de um pedido (admin only)
      tags: [Orders]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, confirmed, preparing, ready, delivered, cancelled]
      responses:
        200:
          description: Pedido atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        400:
          description: Dados inválidos
        401:
          description: Não autenticado
        404:
          description: Pedido não encontrado